.wrapper {
}

.title {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: baseline;
    justify-items: start;
    gap: 20px;
    margin-bottom: 30px;
}

.head {
    margin-top: 47px;
    white-space: nowrap;
}

@media screen and (max-width: 576px) {
    .title {
        display: flex;
        flex-wrap: wrap;
    }

    .pageTitle {
        display: inline-block;
    }

    .pageTitleTag {
        justify-self: flex-start;
    }
}