$black-color: #3B434E;

$white-color: white;

$primary-color: #1DBB2D;
$primary-color-hover: #19b029;

$error-color: #FC836D;

$success-color: #21BEF0;

$dark-green-color: #1DC37E;

$light-green-color: #C8F8E4;

//$light-grey-color: #e5e5e5;
$light-grey-color: #EBEBEB;

$dark-grey-color: #B3C0D9;

$grey: #A4A4A4;

$font-family: "Noto Sans", sans-serif;

$transition: all .3s ease-in-out;